CompileFlags:
  CompilationDatabase: ./build
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wunused-parameter
    - -fvisibility=hidden
    - -march=native

Documentation:
  CommentFormat: Doxygen

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      [
        modernize-*,
        performance-*,
        readability-*,
        bugprone-*,
        cppcoreguidelines-*,
        portability-*,
        misc-*,
        clang-analyzer-*,
      ]
    Remove:
      [
        readability-identifier-length,
        cppcoreguidelines-avoid-const-or-ref-data-members,
        misc-non-private-member-variables-in-classes,
      ]
    CheckOptions:
      GlobalConstantCase: UPPER_CASE
      readability-identifier-naming.ConstCase: lower_case
      readability-identifier-naming.ConstantCase: lower_case
      readability-identifier-naming.GlobalConstantCase: UPPER_CASE

      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.FunctionCase: lower_case
      readability-identifier-naming.ParameterCase: lower_case

      readability-identifier-naming.StructCase: lower_case
      readability-identifier-naming.ClassCase: lower_case
      readability-identifier-naming.MemberCase: lower_case
      readability-identifier-naming.PrivateMemberCase: lower_case
      readability-identifier-naming.PrivateMemberSuffix: _

      readability-identifier-naming.NamespaceCase: lower_case
      readability-identifier-naming.NamespaceAliasCase: lower_case

      readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
      readability-identifier-naming.MacroParameterCase: lower_case

      readability-identifier-naming.EnumCase: lower_case
      readability-identifier-naming.EnumConstantCase: UPPER_CASE

      cppcoreguidelines-avoid-magic-numbers.IgnoredValues: "0,1,-1"
      modernize-use-trailing-return.CheckReturnVoid: true

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true

Completion:
  AllScopes: true

Index:
  Background: Skip
  StandardLibrary: true
  External: None

Style:
  FullyQualifiedNamespaces: false
